.type-xs { font-size: .75em; }
.type-sm { font-size: .9em; }
.type-h5 { font-size: 1.2em; }
.type-md { font-size: 1.3em; }
.type-h4 { font-size: 1.5em; }
.type-lbl { font-size: 1.1em; }
.type-lrg { font-size: 2em; }
.type-med { font-size: 2.2em; }
.title { font-size: 3.5em; }
.type-yuge { font-size: 5em; }
